.contactsListSection {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contactListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  border-bottom-color: #ccc;
}

.editableContact {
  border-radius: 5px;
  border-color: #007bff;
  border-style: dotted;
  border-width: 2px;
  padding: 5px;
}

.contactName {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #ccc;
}

.contactNumber {
  font-size: 12px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #ccc;
  text-align: center;
}
