
.sortContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.sortOptionContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.sortWrapper {
  width: 50px;
  margin: 0 auto;
}

.sortTitle {
  font-weight: 600;
}

.sortOption {
  font-size: 12px;
  font-weight: 500;
  color: #494949;
  margin-bottom: 10px;
} 

.sortButton {
    margin: 0 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}